.container{
    background: #45f;
    width: 370px;
    height: 50vh;
    color: white;
    margin: 0 auto; 
    text-align: center;
}
#countLabel{
    font-size: 10em;
    font-family: Arial, Helvetica, sans-serif;
}
.btnContainer{
    display: flex;
    justify-content: space-around;
}
.btns{
    background-color: rgb(21, 181, 181);
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    transition: all linear .3s;
}
.btns:hover{
    background-color: aqua;
    color: black;
}